.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}
.loginBoxContent{
    height: 500px;
    border-radius: 5px;
    background: #fff;
    box-shadow:  5px 5px 10px #5a5a5a,
                -5px -5px 10px #ffffff;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.loginBoxContent h2{
    text-align: left;
    font-weight: 500;
}

.form{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0 0;
  width: 100%;
  margin: 50px 0;
}

.link{
    color: #2196f3;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.group{
    display: flex;
    flex-direction: row;
}

.icon{
    width: 10%;
    margin-top: 15px;
}
